<% if @cart.user %>
<h1><%= @cart.user.username %>'s Cart</h1>
<% else %>
<h1>Visitor's Cart</h1>
<% end %>

<div class="container">
  <%= render :partial => 'items/item', :collection => @items %>
</div>
