<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-6 pic-preview">
    <a href="#" class="thumbnail">
      <img src="#" alt="Image not found!">
    </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-5">
      <h3 class="item-name">
        <%= item.name %>
      </h3>
      <p class="item-description">
        <%= item.description %>
      </p>
  </div>
</div>
