<div class="container">
  <div class="row">
    <h1>Previous Purchases</h1>
  </div>

  <% if @receipts.empty? %>
    <p>No Receipts</p>
  <% else %>
    <%= render partial: 'receipt', collection: @receipts %>
  <% end %>


</div>
