<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for shopping with us today!</h1>
    <p>Next time buy a million iPhones.</p>
    <h2>Thank you for your purchase! This is your receipt.</h2>

    <h4>Receipt #<%= @receipt.id %></h4>
    <p>Purchased on: <%= @receipt.created_at.strftime("%B %d, %Y") %></p>
    <p>Purchase total: $<%= @receipt.checkout_total %></p>

    <%= render :partial => 'line_items/line_item', :collection => @receipt.line_items %>

  </body>
</html>
